<div class="information">
	<input type="text" value="{{characteristic.advanceCharacteristic}}" disabled />
	<input type="number" value="{{characteristic.displayBonus}}" data-dtype="Number" disabled />
</div>
