<div class="total-wrapper">
    <input class="total" type="number" value="{{characteristic.displayTotal}}" data-dtype="Number" disabled />
    <input class="temp-modifier" name="system.characteristics.{{key}}.tempModifier" type="number" value="{{characteristic.tempModifier}}" data-dtype="Number" placeholder="±" />
</div>
