<div class="dark-heresy chat roll">
    <div class="dh-notice-card">
        <div class="dh-notice-title">{{itemName}}</div>
        <div class="dh-notice-body">
            <strong>{{actorName}}</strong> - потратил все патроны на <strong>{{itemName}}</strong>, нужна перезарядка.
        </div>
        <button class="reload-Weapon dh-notice-button">{{localize "CHAT.RELOAD"}}</button>
    </div>
</div>